*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --clr--yellow: hsl(47, 88%, 63%);
    --clr--white: hsl(0, 0%, 100%);
    --clr--gray: hsl(0, 0%, 42%);
    --gray--darkgray: hsl(0,0%, 7%);
}

body {
    font-family: "Figtree", sans-serif;
}

.container {
    background-color: var(--clr--yellow);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--clr--white);
    width: 327px;
    height: 501px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 8px 8px 0 black;

    @media screen and (min-width: 600px) {
        width: 384px;
        height: 522px;
    };
}

.card img {
    border-radius: 10px;
    width: 279px;
    margin: 24px auto;
    display: block;
    max-width: 100%;
    height: auto;

    @media screen and (min-width: 600px) {
        width: 336px;
    };

}

.text-area {
    padding: 0 24px;
}

.tab {
    font-size: 0.5rem; 
    display: inline-block;
    background-color: var(--clr--yellow);
    padding: 0.5rem;
    border-radius: 4px;
}

.text-area .date {
    margin-top: 12px;
    font-size: 0.8rem;
}

.text-area .main-title {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 800;
}

.main-title:hover {
    cursor: pointer;
    color: var(--clr--yellow);
}

.text-area .description {
    margin-top: 12px;
    line-height: 150%;
    font-size: 14px;
    font-weight: 200;

    @media screen and (min-width: 600px) {
        font-size: 16px;
    };
}

.profile {
    margin-top: 24px;
    padding: 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media screen and (min-width: 600px) {
        margin-top: 12px;
    };
}

.profile img {
    
    display: inline-block;
    width: 0.8rem;
    flex-grow: 1;
}

.profile h2 {
    font-size: 14px;
    display: inline-block;
    flex-grow: 9;
    padding-left: 10px;
    font-weight: 700;
}



